# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
frontend/dist/
backend/target/
build/
dist/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & Editor files
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
